apiVersion: apps/v1
kind: Deployment
metadata:
  name: docker-app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: docker-app
  template:
    metadata:
      labels:
        app: docker-app
    spec:
      containers:
      - name:  mern-container
        image: usvaqandeel/mern-devops-task-tracker:latest  
        ports:
        - containerPort: 80   
---
apiVersion: v1
kind: Service
metadata:
  name: docker-app-service
spec:
  type: NodePort
  selector:
    app: docker-app
  ports:
    - protocol: TCP
      port: 80          # cluster port
      targetPort: 80   
      nodePort: 30080   # NodePort
